<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="8d0d0e85-eab1-4346-8e34-bb7c73ac911f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-03-07T16:58:38" updateDate="2017-03-07T17:35:41" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1053" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="home">
    <bodyText><![CDATA[<p>Home</p>]]></bodyText>
    <pageTitle><![CDATA[Home]]></pageTitle>
    <news id="1056" key="01643cb5-b8af-4a4d-8c10-28dc02517e83" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2017-03-07T16:59:13" updateDate="2017-03-07T16:59:13" nodeName="News 1" urlName="news-1" path="-1,1055,1056" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="news">
      <pageTitle><![CDATA[News 1]]></pageTitle>
      <bodyText><![CDATA[<p>News 1</p>]]></bodyText>
    </news>
    <news id="1057" key="9503a9e9-8fff-461c-a851-a7fc6c443462" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2017-03-07T16:59:27" updateDate="2017-03-07T16:59:37" nodeName="News 2" urlName="news-2" path="-1,1055,1057" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="news">
      <pageTitle><![CDATA[News 2]]></pageTitle>
      <bodyText><![CDATA[<p>News 2</p>]]></bodyText>
    </news>
  </home>
</root>